
<% layout('layouts/boilerplate')%>


<div class="card mb-3 col-6 offset-1 d-flex align-items-center bg-dark" style="width: 60rem;">
    <h1 class="text-white m-2">All Campgrounds</h1>
    <div class="m-2">
        <a href="/" class="card-link btn btn-success mb-3">Home Page</a>
        <a href="/campgrounds/new" class="card-link btn btn-success mb-3">New Campgrounds</a>
    </div>
</div>

<% for (let campground of campgrounds){%>
    <div class="card mb-3 col-6 offset-1" style="width: 60rem;">
        <div class="row">
            <div class="col-md-4">

                <%if(campground.images.length) {%>
                    <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                <% }else {%>
                    <img crossorigin="anonymous" class="img-fluid" alt=""
                         src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> <%= campground.title%> </h5>
                    <p class="card-text"> <%= campground.description%> </p>
                </div>
            </div>

            <div class="col-mg-8">
                <div class="card-body">
                    <p class="card-text">
                        <small class="text-muted">  <%= campground.location%> </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary"> View  <%= campground.title%> </a>
                </div>
            </div>
        </div>
    </div>
<%}%>

<div class="cover-container">
    <a class="btn btn-primary mb-3  col-0 offset-1" href="#">Back to Top</a>
</div>


<!--vBb9h11BTCLQLiw7-->